/* Apply to all */
body {
    font-family: Verdana, Arial;
    margin: 25px 25px 0px;
}

h1 {
    font-size: 48px;
    color: #0000ff;
    padding: 15px;
}

h2 {
    font-size: 32px;
}

p {
    font-size: 24px;
    padding-left: 15px;
    padding-bottom: 15px;
}

img {
    width: 350px;
    border: 10px dashed #000000;
}

div {
    min-height: 100px;
    padding: 20px;
    border: 3px solid #ffffff;
}

span {
    text-decoration: underline;
    text-transform: uppercase;
}

footer {
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,255,1) 25%, rgba(0,102,255,1) 70%, rgba(0,0,0,1) 100%);
}

/* red and blue divs */
.red {
    background-color: #f08080;
    text-align: right;
    margin-left: 50px;
    border-left: 10px;
    border-bottom: 3px;
}

.blue {
    background-color: #87ceeb;
    text-align: left;
    margin-right: 50px;
    border-right: 10px;
    border-bottom: 3px;
}